
// @TODO techinical debt: adding pre/post-processing to css (now scss)


body {
    background-color: #83b6d7; /* change the background color asS needed */
    overscroll-behavior-x: none;
}

    $n: 6; // Number of images
    $item-width:300px; // Width of an image. In the Js version this value can be a percentage
    $item-separation: 40px; // The space between the images. This will decrease the effective item width
    $viewer-distance: 1000px;

    // Derived variables
    $theta: calc( 2 * 3.141592653589793 / $n);
    
    .carousel-container {
        display: flex;
        position: sticky;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        user-select: none;
        cursor: crosshair;
    }


    .carousel-list {
        perspective: $viewer-distance;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        

    > * {
        flex: 0 0 auto;
    }
    figure {
            will-change: transform, transition;    
            margin: 0;
            transform-style: preserve-3d;
            -webkit-transition: transform .5s ease;;
            width: 100vw;


            

            .carousel-item {
                width: 100vw;
                box-sizing: border-box;
                padding: 0 calc($item-separation / 2);




                
                // 
            //     img {
            //         width: $item-width;
            //         overflow: visible;

                                
            // 	&:not(:first-of-type) {
            // 		position: absolute;
            // 		left: 0;
            // 		top: 0;
            //         transition: 50% 50% (-$apothem);

            // 	}
            // }
            //     @for $i from 2 through $n {
            //         &:nth-child(#{$i}) {
            //             -webkit-transform: rotateY(#{($i - 2) * $theta}rad);
        
            //         }
            //     }


                img {
                    width: $item-width;
                    transform-style: preserve-3d;
                    // overflow: visible;
                    // transform-origin: 50% 50% $apothem;
                }


                
                &:not(:first-of-type) {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
       
                // @for $i from 1 through $n {
                //     &:nth-child(#{$i}) {
                //         -webkit-transform: rotateY(#{($i - 8.5) * $theta}rad);
                //         transform: rotateY(#{($i - 8.5) * $theta}rad);
                //     }
                // }
                
            }
        }
        }

        nav {
            display: flex;
            justify-content: center;
        }




    .content-container {
        z-index: 1;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 65%;

    }



    .carousel-list:hover .carousel-item.selected  {
        //   -webkit-transform: scale(1.4);
        //       -ms-transform: scale(1.4);
                  transform: scale(1.4);
                    transform-style: preserve-3d;
                    // overflow: hidden;
                    // width:  $item-width*1.5;
        }
        .carousel-item p {
            // transform-origin: 50% 50% 0;
            color: rgb(244, 232, 221);
            position: absolute; 
            font-size: 100px;
            bottom: 0%;
            align-content: center;
        }
        
        .carousel-item.selected p {

            overflow: visible;
            position: absolute; 
            font-size: 70px;
            left: -420px;
            bottom: -10%;
            color: rgb(244, 232, 221);
            transform: translateX(500px) translateY(180px);
        }

        .deckGL-view {
            width: 100vw;
            height: 100vh;
        }
        

@media (width <= 420px) {
        // Carousel configuration parameters
    $n: 6; // Number of images
    $item-width:100px; // Width of an image. In the Js version this value can be a percentage
    $item-separation: 90px; // The space between the images. This will decrease the effective item width
    $viewer-distance: 300px;

    // Derived variables
    $theta: calc( 2 * 3.141592653589793 / $n);




    .carousel-container {
        display: flex;
        position: sticky;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        user-select: none;
        cursor: crosshair;
        overflow: hidden;
    }


    .carousel-list {
        perspective: $viewer-distance;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

    > * {
        flex: 0 0 auto;
    }
    figure {
            will-change: transform, transition;    
            margin: 0;
            transform-style: preserve-3d;
            -webkit-transition: transform .5s ease;;
            width: 100vw;


            

            .carousel-item {
                width: 100vw;
                box-sizing: border-box;
                padding: 0 calc($item-separation / 2);





                img {
                    width: $item-width;
                    transform-style: preserve-3d;
                    // overflow: visible;
                    // transform-origin: 50% 50% $apothem;
                }


                
                &:not(:first-of-type) {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
       
                
            }
        }
        }

        nav {
            display: flex;
            justify-content: center;
        }




    .content-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 25%;
        overflow: hidden;
    }

    .deckGL-view {
        width: 600px;
    }

    .carousel-list:hover .carousel-item.selected  {
        //   -webkit-transform: scale(1.4);
        //       -ms-transform: scale(1.4);
                  transform: scale(1.4);
                    transform-style: preserve-3d;
                    // overflow: hidden;
                    // width:  $item-width*1.5;
        }

    .carousel-item.selected p {

        position: absolute; 
        font-size: 50px;
        left: 0;
        bottom: 40px;
        color: rgb(244, 232, 221);
        transform: translateX(60px) translateY(100px);
        overflow: visible;
        visibility: visible;

    }

    .carousel-item p {
        position: absolute; 
        color: rgb(244, 232, 221);
        font-size: 50px;
        bottom: 0%;
        align-content: center;

    }
}   

  
  @keyframes cubeRotate {
    from {
        transform:  rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
    to {
        transform: rotateY(-720deg);
    }
  }

.carousel-item.selected img  {


      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 100px;

    //   transform: scale(1.2);
    //       -ms-transform: scale(1.2);
    //           transform: scale(1.2);
    // -webkit-animation: cubeRotate 10s linear infinite;
    animation: cubeRotate 5s linear infinite;
    // transform-origin: 50% 50% (-$apothem);


}

.carousel-item img  {



    border-radius: 100px;


}

// .carousel-item.selected img:before {
//     content: '';
//     background: -o-linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
//     background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
//     position: absolute;
//     top: -2px;
//     left:-2px;
//     background-size:400%;
//     z-index: -1;
//     -webkit-filter: blur(5px);
//             filter: blur(5px);
//     width: calc(100% + 4px);
//     height: calc(100% + 4px);
//     -webkit-animation: glowing 20s linear infinite;
//             animation: glowing 20s linear infinite;
//     opacity: 0;
//     -webkit-transition: opacity .3s ease-in-out;
//     -o-transition: opacity .3s ease-in-out;
//     transition: opacity .3s ease-in-out;
//     border-radius: 10px;
// }

// .carousel-item.selected img:active {
//     color: #000
// }

// .carousel-item.selected img:active:after {
//     background: transparent;
// }

// .carousel-item.selected img:hover:before {
//     opacity: 1;
// }

// .carousel-item.selected img:after {
//     z-index: 0;
//     content: '';
//     // position: absolute;
//     background: #111;
//     // left: 0;
//     // top: 0;
//     border-radius: 10px;
// }


// .parallax-image {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     /* overflow: hidden; */
//   }
  
//   .parallax-image img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     -webkit-transition: -webkit-transform 0.2s ease-out;
//     transition: -webkit-transform 0.2s ease-out;
//     -o-transition: transform 0.2s ease-out;
//     transition: transform 0.2s ease-out;
//     transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
//   }

//   .mouse-parallax {
//     -webkit-transition: -webkit-transform 0.2s ease-out;
//     transition: -webkit-transform 0.2s ease-out;
//     -o-transition: transform 0.2s ease-out;
//     transition: transform 0.2s ease-out;
//     transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
//   }

